doctype html
html
    head
        title= title
        link(ref='stylesheet', href='/stylesheet/style.css')

    body
        h2 Hello #{player} #{date}

        h1
        .board-row
            .grid #{g0}
            .grid #{g1}
            .grid #{g2}
        .board-row
            .grid #{g3}
            .grid #{g4}
            .grid #{g5}
        .board-row
            .grid #{g6}
            .grid #{g7}
            .grid #{g8}