doctype html
html
    head
        title= title
        link(ref='stylesheet', href='/stylesheet/style.css')
        script(type='text/javascript').
            // Pass as regular array here
            var inews = JSON.parse('!{gb}')
            var grids = inews.grids
            var grid1 = grids[0]
            var winner = inews.winer
            var ha ="a"
            console.log(winner);
    body
        h2 Hello #{player} #{date}
        -var
        h1!= grid1
        .board-row
            .grid x
            .grid x
            .grid x
        .board-row
            .grid x
            .grid x
            .grid x
        .board-row
            .grid x
            .grid x
            .grid x